:root {
  /* Responsive Desing */
  --porcentage-desktop: 0.8785;
}

/* Header Section */

.header {
  margin: calc(1.8rem * var(--porcentage-desktop)) auto calc(6.4rem * var(--porcentage-desktop));
  max-width: calc(70rem * var(--porcentage-desktop));
  height: calc(15rem * var(--porcentage-desktop));
  padding: calc(2rem * var(--porcentage-desktop)) calc(2rem * var(--porcentage-desktop)) 0 0;
  padding-bottom: calc(2rem * var(--porcentage-desktop));
  padding-left: calc(3.4rem * var(--porcentage-desktop));
  border-radius: calc(2rem * var(--porcentage-desktop));
}

.header__title img {
  width: calc(162px * var(--porcentage-desktop));
  height: calc(99px * var(--porcentage-desktop));
}

.header__score {
  width: calc(15rem * var(--porcentage-desktop));
  height: calc(11.4rem * var(--porcentage-desktop));
  border-radius: calc(1rem * var(--porcentage-desktop));
  padding: calc(2rem * var(--porcentage-desktop)) 0;
}

.header__score p {
  font-size: calc(1.5rem * var(--porcentage-desktop));
  letter-spacing: calc(0.3rem * var(--porcentage-desktop));
}

.header__score h1 {
  font-size: calc(7rem * var(--porcentage-desktop));
}

/* Main Section */

.main {
  margin-top: calc(2rem * var(--porcentage-desktop));
  background-size: calc(313px * var(--porcentage-desktop));
}

.main__button {
  width: calc(19.7rem * var(--porcentage-desktop));
  height: calc(19.7rem * var(--porcentage-desktop));
}

.main__button figure {
  margin-top: calc(-2.2rem * var(--porcentage-desktop));
  box-shadow: inset 0 calc(0.9rem * var(--porcentage-desktop)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(2) {
  margin-left: calc(8rem * var(--porcentage-desktop));
}

.main__button:nth-child(3) {
  margin-top: calc((6.92rem - 1.6rem) * var(--porcentage-desktop));
}

.main__button:nth-child(1) figure {
  border: solid calc(2.2rem * var(--porcentage-desktop)) hsl(230deg 89% 65%);
}

.main__button:nth-child(2) figure {
  border: solid calc(2.2rem * var(--porcentage-desktop)) hsl(40deg 84% 53%);
}

.main__button:nth-child(3) figure {
  border: solid calc(2.2rem * var(--porcentage-desktop)) hsl(349deg 70% 63%);
}

.main__button:nth-child(1) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-desktop)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(2) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-desktop)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(3) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-desktop)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(1) figure img {
  width: calc(6.9rem * var(--porcentage-desktop));
  height: calc(7.9rem * var(--porcentage-desktop));
}

.main__button:nth-child(2) figure img {
  width: calc(7.1rem * var(--porcentage-desktop));
  height: calc(7.8rem * var(--porcentage-desktop));
}

.main__button:nth-child(3) figure img {
  width: calc(6.8rem * var(--porcentage-desktop));
  height: calc(6.8rem * var(--porcentage-desktop));
}

.main__button:nth-child(1) figure:active img {
  width: calc(6.3rem * var(--porcentage-desktop));
  height: calc(7.3rem * var(--porcentage-desktop));
}

.main__button:nth-child(2) figure:active img {
  width: calc(6.5rem * var(--porcentage-desktop));
  height: calc(7.2rem * var(--porcentage-desktop));
}

.main__button:nth-child(3) figure:active img {
  width: calc(6.2rem * var(--porcentage-desktop));
  height: calc(6.2rem * var(--porcentage-desktop));
}
