:root {
  /* Responsive Desing */
  --porcentage-desktop: 0.8785;
}

/* Header Section */

.header {
  margin: calc(1.8rem * var(--porcentage-desktop)) auto calc(6.4rem * var(--porcentage-desktop));
  max-width: calc(70rem * var(--porcentage-desktop));
  height: calc(15rem * var(--porcentage-desktop));
  padding: calc(2rem * var(--porcentage-desktop)) calc(2rem * var(--porcentage-desktop)) 0 0;
  padding-bottom: calc(2rem * var(--porcentage-desktop));
  padding-left: calc(3.4rem * var(--porcentage-desktop));
  border-radius: calc(2rem * var(--porcentage-desktop));
}

.header__title img {
  width: calc(162px * var(--porcentage-desktop));
  height: calc(99px * var(--porcentage-desktop));
}

.header__score {
  width: calc(15rem * var(--porcentage-desktop));
  height: calc(11.4rem * var(--porcentage-desktop));
  border-radius: calc(1rem * var(--porcentage-desktop));
  padding: calc(2rem * var(--porcentage-desktop)) 0;
}

.header__score p {
  font-size: calc(1.5rem * var(--porcentage-desktop));
  letter-spacing: calc(0.3rem * var(--porcentage-desktop));
}

.header__score h1 {
  font-size: calc(7rem * var(--porcentage-desktop));
}
