/* Header Section */

.header {
  margin: 1.8rem auto 6.4rem;
  max-width: 70rem;
  height: 15rem;
  padding: 2rem 2rem 2rem 3.4rem;
  border-radius: 2rem;
}

.header__title img {
  width: 162px;
  height: 99px;
}

.header__score {
  width: 15rem;
  height: 11.4rem;
  border-radius: 1rem;
  padding: 2rem 0;
}

.header__score p {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.header__score h1 {
  font-size: 7rem;
}

/* Main Section */

.main {
  display: grid;
  justify-content: center;
}

.main__button {
  width: 19.7rem;
  height: 19.7rem;
  border-radius: 50%;
  border: solid 1px black;
  background: hsl(230deg 89% 62%);
}

.main__button figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.2rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e9e9e9;
  box-shadow: inset 0 0.9rem rgb(0 0 0 / 20%);
  border: solid 2.2rem hsl(230deg 89% 65%);
}

.main__button figure:active {
  box-shadow: inset 0 1.5rem rgb(0 0 0 / 20%);
}

.main__button figure img {
  width: 6.9rem;
  height: 7.9rem;
}
