:root {
  /* Responsive Desing */
  --porcentage-mobile: 0.665;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  min-height: 100vh;
  color: white;
  font-size: 62.5%;
}

body {
  min-height: 66.7rem;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  background:
    radial-gradient(
      circle at 50% 10%,
      hsl(214deg 47% 23%),
      hsl(237deg 49% 15%)
    );
  overflow-x: hidden;
}

/* Header Section */

.header {
  margin: 0 auto 6.4rem;
  max-width: 31.1rem;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.2rem 1.2rem 2.4rem;
  border-radius: 0.6rem;
  border: 0.3rem solid hsl(217deg 16% 45%);
}

.header__title img {
  width: calc(162px * var(--porcentage-mobile));
  height: calc(99px * var(--porcentage-mobile));
}

.header__score {
  width: 8rem;
  height: 7.2rem;
  background: linear-gradient(0deg, #ddd 0%, #fff 100%);
  color: hsl(229deg 25% 31%);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.2rem 0;
  margin-left: 2rem;
}

.header__score p {
  font-size: 1rem;
  color: hsl(229deg 64% 46%);
  letter-spacing: 0.1rem;
}

.header__score h1 {
  font-size: 5rem;
  line-height: 0.8;
}

/* Main Section */

.main {
  display: grid;
  justify-content: center;
  margin-top: calc(2rem * var(--porcentage-mobile));
  background-image: url("./../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: calc(313px * var(--porcentage-mobile));
}

.main__button {
  width: calc(19.7rem * var(--porcentage-mobile));
  height: calc(19.7rem * var(--porcentage-mobile));
  border-radius: 50%;
  border: solid 1px black;
}

.main__button div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(-2.2rem * var(--porcentage-mobile));
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e9e9e9;
  box-shadow: inset 0 calc(0.9rem * var(--porcentage-mobile)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(1) {
  background: hsl(230deg 89% 62%);
}

.main__button:nth-child(2) {
  background: hsl(39deg 89% 49%);
  margin-left: calc(8rem * var(--porcentage-mobile));
}

.main__button:nth-child(3) {
  background: hsl(349deg 71% 52%);
  justify-self: center;
  grid-column: 1 / 3;
  margin-top: calc((6.92rem - 1.6rem) * var(--porcentage-mobile));
}

.main__button:nth-child(1) div {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(230deg 89% 65%);
}

.main__button:nth-child(2) div {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(40deg 84% 53%);
}

.main__button:nth-child(3) div {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(349deg 70% 63%);
}

.main__button:nth-child(1) div:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-mobile)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(2) div:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-mobile)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(3) div:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-mobile)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(1) div img {
  width: calc(6.9rem * var(--porcentage-mobile));
  height: calc(7.9rem * var(--porcentage-mobile));
}

.main__button:nth-child(2) div img {
  width: calc(7.1rem * var(--porcentage-mobile));
  height: calc(7.8rem * var(--porcentage-mobile));
}

.main__button:nth-child(3) div img {
  width: calc(6.8rem * var(--porcentage-mobile));
  height: calc(6.8rem * var(--porcentage-mobile));
}

.main__button:nth-child(1) div:active img {
  width: calc(6.3rem * var(--porcentage-mobile));
  height: calc(7.3rem * var(--porcentage-mobile));
}

.main__button:nth-child(2) div:active img {
  width: calc(6.5rem * var(--porcentage-mobile));
  height: calc(7.2rem * var(--porcentage-mobile));
}

.main__button:nth-child(3) div:active img {
  width: calc(6.2rem * var(--porcentage-mobile));
  height: calc(6.2rem * var(--porcentage-mobile));
}

/* Footer Section */

.footer {
  position: fixed;
  bottom: 3.2rem;
  left: 50%;
  transform: translate(-50%);
}

.footer__button {
  border: 0.2rem solid hsl(217deg 16% 45%);
  border-radius: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  padding: 1rem 3.7rem 0.8rem;
  background-color: transparent;
  color: white;
}

/* Selection section  */

.selection__container {
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.selection__player,
.selection__result,
.selection__house {
  text-align: center;
}

.selection__player,
.selection__house {
  display: flex;
  flex-direction: column-reverse;
}

.selection__player h2,
.selection__house h2 {
  font-size: calc(2rem * var(--porcentage-mobile));
  letter-spacing: calc(0.3rem * var(--porcentage-mobile));
  margin: 2.8rem 0;
}

.selection__wait {
  background-color: hsl(237deg 49% 15%);
  width: calc(17.5rem * var(--porcentage-mobile));
  height: calc(17.5rem * var(--porcentage-mobile));
  border-radius: 50%;
  margin: calc(1.1rem * var(--porcentage-mobile)) calc(2.2rem * var(--porcentage-mobile));
  margin-left: calc(4rem * var(--porcentage-mobile));
  border: none;
}

.selection__wait h2 {
  margin-left: calc(4rem * var(--porcentage-mobile));
}

.selection__result {
  display: none;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  margin-top: 21.3rem;
}

.selection__result h1 {
  margin-bottom: 1.6rem;
  font-size: 5.5rem;
}

.selection__result button {
  margin: 0 calc(3.2rem * var(--porcentage-mobile));
  padding: 1.5rem 5.5rem 1.4rem;
  font-size: 1.5rem;
  color: hsl(229deg 25% 31%);
  letter-spacing: 0.2rem;
  border-radius: 0.8rem;
  border-style: none;
}

.selection__result button:hover {
  color: #c1445c;
}

.selection__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(19.7rem * var(--porcentage-mobile));
  height: calc(19.7rem * var(--porcentage-mobile));
  border-radius: 50%;
  border: solid calc(0.1rem * var(--porcentage-mobile)) black;
  position: relative;
}

.selection__pulse {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  opacity: 0;
  animation: scale-in 5s infinite;
}

.pulse0 {
  width: calc(24.625rem * var(--porcentage-mobile));
  height: calc(24.625rem * var(--porcentage-mobile));
  z-index: -1;
}

.pulse1 {
  width: calc(30.7812rem * var(--porcentage-mobile));
  height: calc(30.7812rem * var(--porcentage-mobile));
  z-index: -2;
}

.pulse2 {
  width: calc(38.4765rem * var(--porcentage-mobile));
  height: calc(38.4765rem * var(--porcentage-mobile));
  z-index: -3;
}

@keyframes scale-in {
  from {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }

  to {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.selection__player h2 {
  margin-right: calc(4rem * var(--porcentage-mobile));
}

.selection__house h2 {
  margin-left: calc(4rem * var(--porcentage-mobile));
}

.selection__house .selection__button {
  margin-left: calc(4rem * var(--porcentage-mobile));
}

.selection__player .selection__button {
  margin-right: calc(4rem * var(--porcentage-mobile));
}

.selection__button--figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: calc(-2.2rem * var(--porcentage-mobile));
  border-radius: 50%;
  background-color: #e9e9e9;
  box-shadow: inset 0 calc(0.9rem * var(--porcentage-mobile)) rgb(0 0 0 / 20%);
}

.selection__button.paper {
  background: hsl(230deg 89% 62%);
}

.selection__button--figure.paper {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(230deg 89% 65%);
}

.selection__button--figure.paper img {
  width: calc(6.9rem * var(--porcentage-mobile));
  height: calc(7.9rem * var(--porcentage-mobile));
}

.selection__button.scissors {
  background: hsl(39deg 89% 49%);
}

.selection__button--figure.scissors {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(40deg 84% 53%);
}

.selection__button--figure.scissors img {
  width: calc(7.1rem * var(--porcentage-mobile));
  height: calc(7.8rem * var(--porcentage-mobile));
}

.selection__button.rock {
  background: hsl(349deg 71% 52%);
}

.selection__button--figure.rock {
  border: solid calc(2.2rem * var(--porcentage-mobile)) hsl(349deg 70% 63%);
}

.selection__button.rock img {
  width: calc(7.1rem * var(--porcentage-mobile));
  height: calc(7.8rem * var(--porcentage-mobile));
}

.selection__button--figure.rock img {
  width: calc(6.8rem * var(--porcentage-mobile));
  height: calc(6.8rem * var(--porcentage-mobile));
}

/* Modal section */

.rules-modal__container {
  min-height: 66.7rem;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.rules-modal__content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
}

.rules-modal__content h1 {
  text-align: center;
  font-size: 2.9rem;
  color: hsl(229deg 47% 23%);
  margin: 10rem 0;
}

.rules-modal__content button {
  all: unset;
  position: absolute;
  bottom: 6.4rem;
  left: 50%;
  transform: translate(-50%);
}

.rules-modal__body figure img {
  display: block;
  margin: 0 auto 10rem;
}
