:root {
  /* Responsive Desing */
  --porcentage-tablet: 0.5608;
}

/* Header Section */

.header {
  margin: calc(1.8rem * var(--porcentage-tablet)) auto calc(6.4rem * var(--porcentage-tablet));
  max-width: calc(70rem * var(--porcentage-tablet));
  height: calc(15rem * var(--porcentage-tablet));
  padding: calc(2rem * var(--porcentage-tablet)) calc(2rem * var(--porcentage-tablet)) 0 0;
  padding-bottom: calc(2rem * var(--porcentage-tablet));
  padding-left: calc(3.4rem * var(--porcentage-tablet));
  border-radius: calc(2rem * var(--porcentage-tablet));
}

.header__title img {
  width: calc(162px * var(--porcentage-tablet));
  height: calc(99px * var(--porcentage-tablet));
}

.header__score {
  width: calc(15rem * var(--porcentage-tablet));
  height: calc(11.4rem * var(--porcentage-tablet));
  border-radius: calc(1rem * var(--porcentage-tablet));
  padding: calc(2rem * var(--porcentage-tablet)) 0;
}

.header__score p {
  font-size: calc(1.5rem * var(--porcentage-tablet));
  letter-spacing: calc(0.3rem * var(--porcentage-tablet));
}

.header__score h1 {
  font-size: calc(7rem * var(--porcentage-tablet));
}

/* Main Section */

.main {
  display: grid;
  justify-content: center;
}

.main__button {
  width: calc(19.7rem * var(--porcentage-tablet));
  height: calc(19.7rem * var(--porcentage-tablet));
  border-radius: 50%;
  border: solid 1px black;
  background: hsl(230deg 89% 62%);
}

.main__button figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(-2.2rem * var(--porcentage-tablet));
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e9e9e9;
  box-shadow: inset 0 calc(0.9rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
  border: solid calc(2.2rem * var(--porcentage-tablet)) hsl(230deg 89% 65%);
}

.main__button figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.main__button figure img {
  width: calc(6.9rem * var(--porcentage-tablet));
  height: calc(7.9rem * var(--porcentage-tablet));
}
