:root {
  /* Responsive Desing */
  --porcentage-tablet: 0.7433;
}

/* Header Section */

.header {
  margin: calc(1.8rem * var(--porcentage-tablet)) auto calc(6.4rem * var(--porcentage-tablet));
  max-width: calc(70rem * var(--porcentage-tablet));
  height: calc(15rem * var(--porcentage-tablet));
  padding: calc(2rem * var(--porcentage-tablet)) calc(2rem * var(--porcentage-tablet)) 0 0;
  padding-bottom: calc(2rem * var(--porcentage-tablet));
  padding-left: calc(3.4rem * var(--porcentage-tablet));
  border-radius: calc(2rem * var(--porcentage-tablet));
}

.header__title img {
  width: calc(162px * var(--porcentage-tablet));
  height: calc(99px * var(--porcentage-tablet));
}

.header__score {
  width: calc(15rem * var(--porcentage-tablet));
  height: calc(11.4rem * var(--porcentage-tablet));
  border-radius: calc(1rem * var(--porcentage-tablet));
  padding: calc(2rem * var(--porcentage-tablet)) 0;
}

.header__score p {
  font-size: calc(1.5rem * var(--porcentage-tablet));
  letter-spacing: calc(0.3rem * var(--porcentage-tablet));
}

.header__score h1 {
  font-size: calc(7rem * var(--porcentage-tablet));
}

/* Main Section */

.main {
  margin-top: calc(2rem * var(--porcentage-tablet));
  background-size: calc(313px * var(--porcentage-tablet));
}

.main__button {
  width: calc(19.7rem * var(--porcentage-tablet));
  height: calc(19.7rem * var(--porcentage-tablet));
}

.main__button figure {
  margin-top: calc(-2.2rem * var(--porcentage-tablet));
  box-shadow: inset 0 calc(0.9rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(2) {
  margin-left: calc(8rem * var(--porcentage-tablet));
}

.main__button:nth-child(3) {
  margin-top: calc((6.92rem - 1.6rem) * var(--porcentage-tablet));
}

.main__button:nth-child(1) figure {
  border: solid calc(2.2rem * var(--porcentage-tablet)) hsl(230deg 89% 65%);
}

.main__button:nth-child(2) figure {
  border: solid calc(2.2rem * var(--porcentage-tablet)) hsl(40deg 84% 53%);
}

.main__button:nth-child(3) figure {
  border: solid calc(2.2rem * var(--porcentage-tablet)) hsl(349deg 70% 63%);
}

.main__button:nth-child(1) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(2) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(3) figure:active {
  box-shadow: inset 0 calc(1.5rem * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.main__button:nth-child(1) figure img {
  width: calc(6.9rem * var(--porcentage-tablet));
  height: calc(7.9rem * var(--porcentage-tablet));
}

.main__button:nth-child(2) figure img {
  width: calc(7.1rem * var(--porcentage-tablet));
  height: calc(7.8rem * var(--porcentage-tablet));
}

.main__button:nth-child(3) figure img {
  width: calc(6.8rem * var(--porcentage-tablet));
  height: calc(6.8rem * var(--porcentage-tablet));
}

.main__button:nth-child(1) figure:active img {
  width: calc(6.3rem * var(--porcentage-tablet));
  height: calc(7.3rem * var(--porcentage-tablet));
}

.main__button:nth-child(2) figure:active img {
  width: calc(6.5rem * var(--porcentage-tablet));
  height: calc(7.2rem * var(--porcentage-tablet));
}

.main__button:nth-child(3) figure:active img {
  width: calc(6.2rem * var(--porcentage-tablet));
  height: calc(6.2rem * var(--porcentage-tablet));
}

/* Selection section */

.selection__container {
  align-items: center;
  width: 100%;
  height: 100%;
}

.selection__player,
.selection__house {
  flex-direction: column;
}

.selection__player h2,
.selection__house h2 {
  font-size: calc(2rem * var(--porcentage-tablet));
  letter-spacing: calc(0.3rem * var(--porcentage-tablet));
  margin: calc(5.5rem * var(--porcentage-tablet)) 0 calc(5.5rem * var(--porcentage-tablet)) 0;
}

.selection__wait {
  width: calc(25.9385rem * var(--porcentage-tablet));
  height: calc(25.9385rem * var(--porcentage-tablet));
  margin: calc(3.2608rem * var(--porcentage-tablet)) calc(1.6304rem * var(--porcentage-tablet));
}

.selection__wait h2 {
  margin-left: 0;
}

.selection__result {
  position: unset;
  margin: 0;
}

.selection__result button {
  margin: 0 calc(3.2rem * var(--porcentage-tablet));
}

.selection__button {
  margin-top: calc(2.2rem * 1.4822 * var(--porcentage-tablet));
  width: calc(19.7rem * 1.4822 * var(--porcentage-tablet));
  height: calc(19.7rem * 1.4822 * var(--porcentage-tablet));
  border: solid calc(0.1rem * 1.4822 * var(--porcentage-tablet)) black;
}

.pulse0 {
  width: calc(24.625rem * 1.4822 * var(--porcentage-tablet));
  height: calc(24.625rem * 1.4822 * var(--porcentage-tablet));
  z-index: -1;
}

.pulse1 {
  width: calc(30.7812rem * 1.4822 * var(--porcentage-tablet));
  height: calc(30.7812rem * 1.4822 * var(--porcentage-tablet));
  z-index: -2;
}

.pulse2 {
  width: calc(38.4765rem * 1.4822 * var(--porcentage-tablet));
  height: calc(38.4765rem  * 1.4822 * var(--porcentage-tablet));
  z-index: -3;
}

.selection__player .selection__button {
  margin-right: 0;
}

.selection__house .selection__button {
  margin-left: 0;
}

.selection__button--figure {
  margin-top: calc(-2.2rem * 1.4822 * var(--porcentage-tablet));
  box-shadow: inset 0 calc(0.9rem * 1.4822 * var(--porcentage-tablet)) rgb(0 0 0 / 20%);
}

.selection__button--figure.paper {
  border: solid calc(2.2rem * 1.4822 * var(--porcentage-tablet)) hsl(230deg 89% 65%);
}

.selection__button--figure.paper img {
  width: calc(6.9rem * 1.4822 * var(--porcentage-tablet));
  height: calc(7.9rem * 1.4822 * var(--porcentage-tablet));
}

.selection__button--figure.scissors {
  border: solid calc(2.2rem * 1.4822 * var(--porcentage-tablet)) hsl(40deg 84% 53%);
}

.selection__button--figure.scissors img {
  width: calc(7.1rem * 1.4822 * var(--porcentage-tablet));
  height: calc(7.8rem * 1.4822 * var(--porcentage-tablet));
}

.selection__button--figure.rock {
  border: solid calc(2.2rem * 1.4822 * var(--porcentage-tablet)) hsl(349deg 70% 63%);
}

.selection__button--figure.rock img {
  width: calc(6.8rem * 1.4822 * var(--porcentage-tablet));
  height: calc(6.8rem * 1.4822 * var(--porcentage-tablet));
}
